body {
    background: rgba(112, 112, 112, 0.518);
}

.App {
    text-align: center;
  }
  
  .App-logo {
    width: 100%;
    height: 1000px;
    object-fit: cover;
    pointer-events: none;
    opacity: 0.4;
  }
  
  .introduction {
    display: flex;
    /* justify-content: center;
    vertical-align: center; */
    width: 90%;
    position: absolute;
    top: 0px;
  }
  .top-bar {
    top: 100%;
    width: 100%;
    border-bottom: 1px solid rgb(120, 119, 119);
    margin: 0 0 0 125px;
  }
  /* .hello {
    font-size: 24px;
    align-items: center;
    height: 100%;
    color:rgb(238, 157, 9)
  } */
  .my-name {
    font-size: 24px;
    color:  #ffffff;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Cormorant Garamond', serif;    
    /* align-items: center; */
    float: right;
    padding: 10px;
    margin-left: 100px;
  }

  .occupation {
    float: right;
    font-size: 24px;
    color:  #ffffff;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Barlow Condensed', sans-serif;
    align-items: center;
    padding: 10px;
  }

  .i-am-him {
    margin-left: 60%;
    align-items: left;
    position: absolute;
    top: 115px;
    width: 40%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    opacity: 0.85;
    font-weight: 500;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.page-container {
    display: flex;
    justify-content: right;
    /* background-color: #ffffff; */
    max-width: 100%;
    max-height: 100%;
  }

  /* .background-img {
    position: absolute;
    right: 0px;
    max-width: auto;
    max-height: auto;
    object-fit: contain;
  } */

  .nav-panel {
    /* display: flex;
    justify-content: left; */
    position: fixed;
    left: 0px;
    height: 100%;
    width: 150px;
    background:rgba(125, 125, 125, 0.3);/* give opacity to bg color only */
    /* opacity: 0.5; */
    z-index: 5;
  }
  .about-container {
    display: flex;
    justify-content: center;
    position: relative;
    /* margin: 0 0 300px 0; */
    max-width: 100%;
    height: 650px;
    background-color:#f6f3f3;
    /* background-color:#282c34; */
    /* opacity: 0.5; */
  }

  .project-container {
    display: flex;
    justify-content: center;
    position: relative;
    /* margin: 0 0 300px 0; */
    max-width: 100%;
    height: 850px;
    background-color:#282c34;
    /* opacity: 0.5; */
  }


  .about-me {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    width: 750px;
    height: 500px;
    /* margin-left: 10%; */
    /* left: 21%; */
    color:#000000;
    font-size: 64px;
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
  }

  .background-img {
    display: flex;
    /* justify-content: left; */
    position: absolute;
    left: 200px;
    top: 25%;
    height: 400px;
    /* margin-right: 375px; */
    object-fit: contain;
    background-color: #282c34;
    opacity: 0.8;
  }

  .divider {
    display: flex;
    /* justify-content: center; */
    position: relative;
    top: 165px;
    width: 5px;
    height: 400px;
    left: 25%;
    background-color:rgb(238, 157, 9);
    z-index: 1;
  }

  .description-box {
    display: flex;
    /* justify-content: center; */
    position: relative;
    top: 250px;
    left: 27.5%;
    top: 25%;
    padding-bottom: 250px;
    width: 500px;
    height: 150px;
    z-index: 1;
  }

  .description {
    font-size: 28px;
    font-weight: 300;
    font-family: 'Barlow Condensed', sans-serif;
    color:#282c34;
  }

  .header {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    width: 750px;
    height: 500px;
    /* margin-left: 10%; */
    /* left: 21%; */
    color:#f6f3f3;
    font-size: 64px;
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
    padding-bottom: 100px;
  }

  .experience-container {
    display: flex;
    /* justify-content: center; */
    position: relative;
    top: 250px;
    /* left: 27.5%; */
    top: 25%;
    padding-bottom: 250px;
    width: 500px;
    height: 150px;
    z-index: 1;
    background-color: #f6f3f3;
  }

  .contact-page {
    background: #282c34;
    width: 100%;
    min-height: 100vh;
  }

  .contact-container {
    background: white;
    width: 75%;
    margin-left: calc(75% -150px);
    min-height: 75%;
  }

  .contact-info {
    display: flex;
    /* justify-content: center; */
    position: absolute;
    margin-top: 75px;
    width: 750px;
    height: 500px;
    /* margin-left: 10%; */
    left: 21%;
    color:#ffffff;
    font-size: 64px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
  }

  .image-icon {

  }
  