    /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */
  
  .nav {
    color: #ffffff;
    margin-top: 100px;
  }

  .menu-logo {
    position: relative;
    opacity: 1;
  }

  .nav-menu li {
    padding: 0 1rem;
    margin-bottom: 50px;
  }
  
  .nav-menu li a{
    margin-bottom: 50px;
    font-weight: 500;
  }

  .media-menu {
    position: absolute;
    bottom: 20px;
  }

  .media-menu li {
    margin-bottom: 12px;
    margin-left: 60px;
    list-style-type: none;
    /* position: relative; */
  }