/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */

.nav {
  color: #ffffff;
  margin-top: 100px;
  height: auto !important;
}

.menu-logo {
  position: relative;
  opacity: 1;
}

.nav-menu {
  display: block;
  height: 100% - 100px;
}

.nav-menu li {
  padding: 0 1rem;
  margin-bottom: 50px;
}

.nav-menu li a {
  margin-bottom: 50px;
  font-weight: 500;
}

.media-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 100%;
  /* margin-top: 100%; */
  /* bottom: 20px; */
}

.media-menu li {
  position: inherit;
  margin-bottom: 12px;
  list-style-type: none;
  /* position: relative; */
}
